.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  position: relative;
}

.label {
  color: rgba(59, 60, 75, 0.9);
  margin-bottom: 6px;
}

.star {
  color: #ff4d4f;
}

/* .error {
  color: #ff4d4f;
  min-height: 22px;
} */
