/* .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select,
.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select,
.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container {
  width: 100% !important;
  min-height: 183px !important;
} */
/* .ant-card {
  background: linear-gradient(180deg,rgba(186, 201, 204, 0.3) 0%, rgba(89, 115, 150, 0.3) 100%), rgba(3, 9, 24, 0.5)  !important;
  border: 1px solid #606060;
} */

.ant-table-wrapper .ant-table {
  background: #030918 !important;
}

.ant-table-wrapper .ant-table .ant-table-row:nth-child(odd) {
  background: #101524 !important;
}

.ant-checkbox+span {
  color: var(--primary-color) !important;
}